/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-searchbar {
	border: 1px solid black;
	background-color: unset;
	color: black;
	padding: 20px;
}
